@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #faf5f2;
  padding: 0 20px 0 20px;
}
.logo {
  width: 100px;
  display: block;
}
.logo img {
  width: 100%;
}
.nav-items > ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  font-size: 20px;
  font-weight: 500;
}

/* Assuming you have a CSS file where you define your styles */
.link {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits color from parent */
}

.nav-items > ul > li:hover {
  color: tomato;
}
.search {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
input {
  padding: 8px;
  width: 500px;
  height: 40px;
  margin-right: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
}
.search-button {
  padding: 8px 12px;
  background-color: tomato;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.restaurant-container {
  padding: 0 20px 0 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.res-card {
  border: 1px solid tomato;
  width: 300px;
  /* height: 450px; */
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.res-card:hover {
  transform: scale(1.05);
  color: #fff;
  background-color: tomato;
}

.res-card img {
  width: 100%;
  height: 250px;
}

.btn {
  background-color: initial;
  background-image: linear-gradient(-180deg, #ff7e31, #e62c03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 70%;
  z-index: 9;
  border: 0;
  transition: box-shadow 0.2s;
}

.btn:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

.filter {
  display: flex;
  justify-content: center;
}
.filter-btn {
  padding: 10px 20px;
  background-color: tomato;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  color: white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.shimmer-card {
  width: 300px;
  border-radius: 10px;
  height: 450px;
  background: linear-gradient(-90deg, #eee 25%, #ddd 50%, #eee 75%);
  background-size: 200% 200%;
  animation: shimmerAnimation 1.5s infinite linear;
}

@keyframes shimmerAnimation {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.shimmer-wrapper {
  padding: 100px 20px 0 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.shimmer-search {
  width: 500px;
  height: 40px;
  background: linear-gradient(-90deg, #eee 25%, #ddd 50%, #eee 75%);
  background-size: 200% 200%;
  animation: shimmerAnimation 1.5s infinite linear;
}

.shimmer-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* styles.css */

/* styles.css */

.about-us-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

.about-us-page > * {
  margin-bottom: 40px; /* Add more spacing between sections */
}

.about-us-page h1,
.about-us-page h2 {
  color: orangered;
  margin-bottom: 20px;
}

.about-us-page p {
  line-height: 1.6;
  color: #666;
}

.team-members {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
}

.team-member {
  flex: 0 0 calc(33.3333% - 20px);
  margin: 0 10px 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.member-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.member-image img:hover {
  transform: scale(1.1);
}

.member-info h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.2rem;
  color: orangered;
}

.member-info p {
  margin-bottom: 10px;
  color: #777;
}

.testimonials blockquote {
  border-left: 4px solid orangered;
  padding-left: 15px;
  margin-bottom: 20px;
}

.testimonials cite {
  font-style: normal;
  color: #777;
}

.contact-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 50px;

  background-color: #f8f9fa; /* Light gray background */
}

.contact-us-content {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.contact-us-content h1 {
  color: #ff4500; /* Orange-Red color */
  margin-bottom: 20px;
}

.contact-us-description {
  color: #333333;
  margin-bottom: 30px;
}

.contact-info,
.visit-us,
.send-message {
  margin-bottom: 30px;
}

.contact-info h2,
.visit-us h2,
.send-message h2 {
  color: #ff4500; /* Orange-Red color */
  margin-bottom: 10px;
}

.contact-info p,
.visit-us p {
  color: #555555;
  margin-bottom: 5px;
}

.send-message form {
  display: grid;
  gap: 20px;
}

.form-group label {
  font-weight: bold;
  color: #333333;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.submit-button {
  background-color: #ff4500; /* Orange-Red color */
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #ff6347; /* Lighter shade of orange-red */
}

.res-box {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.831);
}

.menu {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  background: #ee0979; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.menu h1 {
  font-size: 35px;
  color: darkslategray;
  font-weight: 900;
}

.menu h2 {
  font-size: 20px;
  color: darkslategray;
  margin-top: 15px;
  font-weight: 500;
}

.menu h3 {
  font-size: 18px;
  color: #f57c00; /* Orange */
}

.menu h4 {
  font-size: 16px;
  color: darkslategray;
  margin-top: 20px;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  font-size: 16px;
  color: #333333; /* Dark Grey */
  margin-bottom: 5px;
}

.menu-name {
  font-size: 15px;
  font-weight: 600;
}
.menu-items {
  border: 3px solid rgb(210, 48, 48);
  border-radius: 10px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: whitesmoke;
}
